{% extends "base.html" %} {% block title %}Dashboard - JobJourney{% endblock %}
{% block content %}
<!-- Greeting -->
<section class="greeting">
  <p>Friday, October 27th</p>
  <h1>Good Morning, Ishaan</h1>
</section>

<!-- Application Overview -->
<section class="overview">
  <div class="card">
    <p class="number">{{ applied_applications }}</p>
    <p>Applied Applications</p>
    <span>Last 30 days</span>
  </div>
  <div class="card">
    <p class="number">{{ interviews_scheduled }}</p>
    <p>Interviews Scheduled</p>
    <span>Upcoming interviews</span>
  </div>
  <div class="card">
    <p class="number">{{ offers_received }}</p>
    <p>Offers Received</p>
    <span>Successful applications</span>
  </div>
  <div class="card">
    <p class="number">{{ rejections }}</p>
    <p>Rejections</p>
    <span>Applications closed</span>
  </div>
</section>

<!-- Activity + Actions -->
<section class="main-section">
  <div class="recent-activity">
    <div class="section-header">
      <h2>Recent Activity</h2>
      <a href="{% url 'applications' %}">View All</a>
    </div>
    <ul>
      {% for activity in recent_activity %}
      <li class="recent_activity_item">
        <span> Job Application | Company Name: {{ activity.company }} | </span>
        <span class="status {{ activity.status }}">{{ activity.status }}</span>
        <span class="time">{{ activity.created_at }} </span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="quick-actions">
    <h2>Quick Actions</h2>
    <a href="{% url 'add_application' %}" class="btn">➕ Add New Application</a>
    <a href="{% url 'resumes' %}" class="btn">📑 View All Resumes</a>
  </div>
</section>
{% endblock %}
